<div class="container overwrite-container">
    <div class="row row-wrapper-booking">
        <div class="col-12">
            <div class="row top-filter">
                <div class="col-6 left">
                    <search-box>
                        <input type="text" placeholder="Search" />
                        <button type="button" class="btn">
                            <img src="../../../assets/images/icon-search.png" alt="icon" class="icon-button">
                        </button>
                    </search-box>
                </div>
                <div class="col-6 right">
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary">
                        Single Button
                    </button>

                </div>
            </div>
            <div class="bottom-content">
                <div class="wrapper-tab">
                    <tabset>
                        <tab heading="Basic title" id="tab1">
                            <div class="row-item head-table">
                                <div class="col-item">

                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">
                                    id
                                </div>
                                <div class="col-item">

                                </div>
                            </div>
                            <div class="body-table">
                                <accordion>
                                    <accordion-group [panelClass]="accordion-in-table" [isAnimated]="true">
                                        <button class="btn btn-link btn-block clearfix head-accordion" accordion-heading
                                            type="button">
                                            <div class="row-item">
                                                <div class="col-item">
                                                    <button type="button" class="btn btn-edit-data">
                                                        <img src="../../../../assets/images/icon-delete-item.png"
                                                            alt="icon">
                                                    </button>
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    id
                                                </div>
                                                <div class="col-item">
                                                    <button type="button" class="btn btn-primary"
                                                        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                                                        ...
                                                    </button>
                                                </div>
                                            </div>
                                        </button>
                                        <div class="wrapper-content-accordion">
                                            <div class="row-item head-table">
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                                <div class="col-item">

                                                </div>
                                            </div>
                                            <div class="row-item body-table">
                                                <div class="left-content">
                                                    
                                                </div>
                                                <div class="right-content">
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                    <div class="col-item">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </accordion-group>

                                </accordion>
                            </div>
                        </tab>
                        <tab heading="Basic Title 1">Basic content 1</tab>
                        <tab heading="Basic Title 2">Basic content 2</tab>
                    </tabset>
                </div>
            </div>

        </div>
        <div class="wrapper-pagination">
            <pagination [totalItems]="88" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></pagination>
            <pre class="card card-block card-header mb-3">The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
        </div>
    </div>
</div>