@import '../../../../style/variables.scss';

.wrapper-calendar-vehicle {
    display: flex;
    overflow-y: scroll;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 146px;
    height: 146px;
    padding-top: 6px;
    .row-time-line {
        box-shadow: 0px 1px 6px #00000029;
        height: 30px;
        display: flex;
        align-items: center;
        min-height: 30px;
        align-self: flex-start;
        padding-left: 20px;
        .col-item {
            width: 200px;
        }
    }
    .row-vehicle {
        display: flex;
        background-color: #EFEFEF;
        height: 110px;
        align-items: center;
        align-self: flex-start;
        flex: 1 1 100%;
        min-height: 110px;
        margin-top: 5px;
        padding-left: 20px;
        .col-item {
            width: 200px;
        }
    }
    

}
.row-wrapper-dasboard {
    height: 100%;
    padding-top: 15px;
    box-sizing: border-box;
    .wrapper-drop-down {
        .overwrite-drop-down {
            height: 40px;
            box-sizing: border-box;
        }
    }
    
}
.content-right-dasboard {
    height: 100%;
    display: flex;
    flex-direction: column; 
    padding-left: 0;
    .content-bottom {
        display: flex;
        padding-top: 15px;
        box-sizing: border-box;
        >.left {
            flex: 1 1 42%;
            max-width: 42%;
            min-width: 42%;
            border: 1px solid $grey;
            box-sizing: border-box;
            align-self: flex-start;
            .chart-chair {
                padding: 60px 0;
                .row-item {
                    display: flex;
                    justify-content: center;
                    padding: 0 60px;
                    .col-item {
                        flex: 1 1 100%;
                    }
                }
            }
            .top-info-vehicle {
                height: 36px;
                background-color: $grey;
                display: flex;
                .col-item {
                    color: #fff;
                    background-color: $blue;
                    font-size: 10px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 3px;
                    justify-content: center;
                    padding: 0 20px 0 10px;
                    border-top-right-radius: 5px;
                }
            }
        }
        >.right {
            flex: 1 1 100%;
            max-width: calc(60% - 15px);
            border: 1px solid $grey;
            margin-left: 15px;
            box-sizing: border-box;
            align-self: flex-start;
            .head-top {
                background-color: $blue;
                text-transform: uppercase;
                display: flex;
                height: 36px;
                align-items: center;
                color: #fff;
                padding-left: 10px;
                font-size: 12px;
            }
            .wrapper-form {
                display: flex;
                padding: 20px 10px;
                .label-text-input {
                    font-weight: 500;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                .left {
                    flex: 1 1 50%;
                    label {
                        font-size: 12px !important;
                    }
                }
                .right {
                    flex: 1 1 50%;
                    padding-left: 15px;
                    box-sizing: border-box;
                    .caution-important {
                        text-transform: uppercase;
                        box-shadow: 0px 1px 6px #0000004D;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 15px 0 13px 0;
                        margin-bottom: 10px;
                        .price {
                            font-weight: 400;
                            font-size: 20px;
                            color: #EB3C3C;
                        }
                    }
                    .table-edit {
                        margin-top: 15px;
                        .head {
                            display: flex;
                            justify-content: space-around;
                            background-color: $grey;
                            align-items: center;
                            padding: 0 10px;
                            height: 34px;
                            .text {
                                flex: 1 1 100%;
                                color: #000;
                            }
                            button {
                                padding: 0;
                                img {
                                    width: 20px;
                                }
                            }
                        }
                        .row-item {
                            display: flex;
                            margin: 0 10px;
                            border-bottom: 1px solid $grey;
                            height: 36px;
                            align-items: center;
                            .brand-chair {
                                flex: 1 1 auto;
                                width: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                min-width: 30px;
                                border: 1px solid #02A4E6;
                                border-radius: 4px;
                                color: #02A4E6;
                                &.blue {
                                    background-color: $blue;
                                    color: #fff;
                                }
                            }
                            .price {
                                flex: 1 1 100%;
                                margin-right: 5px;
                                text-align: right;
                                &.blue {
                                    color: #02A4E6;
                                }
                                .discount {
                                    color: #909090;
                                    font-style: italic;
                                    display: inline-block;
                                    margin-right: 10px;
                                    text-decoration: line-through;
                                    font-size: 12px;
                                }
                            }
                            .groups-btn {
                                display: flex;
                                flex: 1 1 auto;
                                button {
                                    margin-left: 5px;
                                    width: 18px;
                                    height: 18px;
                                    img {
                                        width: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
                .wrapper-box-percent {
                    display: flex;
                    .box-percent {
                        width: 35px;
                        display: flex;
                        background-color: $blue;
                        color: #fff;
                        align-items: center;
                        justify-content: center;
                        min-width: 35px;
                        font-size: 12px;
                    }
                }
                .wrapper-row-buttons {
                    display: flex;
                    button {
                        font-size: 12px !important;
                        background-color: $blue;
                        color: #fff;
                        min-width: 65px;
                        padding-left: 0;
                        padding-right: 0;
                        border-radius: 0;
                        
                    }
                    .overwrite-drop-down {
                        button {
                            border-right: 0;
                            padding-left: 5px;
                        }
                    }
                }
            }
            .button-group-bottom {
                padding: 10px;
                display: flex;
                box-shadow: 0px -1px 6px #0000004D;
                justify-content: space-between;
                .right-button {
                    display: flex;
                    button {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
.content-bottom {
    flex: 1 1 100%;
    overflow-y: scroll;
}

.side-left {
    .query-ticket {
        .title {
            margin-bottom: 5px;
            font-weight: 500;
        }
        .links {
            margin-top: 10px;
            .title {
                margin-bottom: 20px;
            }
            .list-link {
                padding: 0;
                list-style: none;
                li {
                    margin-bottom: 5px;
                    a {
                        color: #393939;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.wrapper-calendar {
    margin-top: 15px;
    margin-bottom: 15px;
    .pr-3.pb-3 {
        padding: 0 !important;
    }
}