<div class="container overwrite-container">
    <div class="row row-wrapper-dasboard">
        <div class="col-3 side-left">
            <div class="wrapper-drop-down">
                <dropdown-style>
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </dropdown-style>
            </div>
            <div class="wrapper-calendar">
                <div class="pr-3 pb-3">
                    <bs-datepicker-inline [dateCustomClasses]="dateCustomClasses" [bsValue]="bsInlineValue">
                    </bs-datepicker-inline>
                </div>
            </div>
            <div class="query-ticket">
                <div class="title">Tìm thông tin vé</div>
                <search-box>
                    <input type="text" placeholder="Search" />
                    <button type="button" class="btn">
                        <img src="../../../assets/images/icon-search.png" alt="icon" class="icon-button">
                    </button>
                </search-box>
                <div class="links">
                    <div class="title">Lịch sử chổ ngồi</div>
                    <ul class="list-link">
                        <li>
                            <a href="#">Quản lý chuyến</a>
                        </li>
                        <li>
                            <a href="#">Quản lý ID Booking</a>
                        </li>
                        <li>
                            <a href="#">Quản lý Phơi vé</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9 side-right content-right-dasboard">
            <div class="wrapper-calendar-vehicle">
                <div class="row-time-line">
                    <div *ngFor="let item of timeLine" class="col-item">
                        {{item}}
                    </div>
                </div>
                <div class="row-vehicle">
                    <div *ngFor="let item of timeLine" class="col-item">
                        <vehicle-tour></vehicle-tour>
                    </div>

                </div>

            </div>
            <div class="content-bottom">
                <div class="left">
                    <div class="top-info-vehicle">
                        <div class="col-item">
                            <span>07:00 - 25/11/19</span>
                            <span>SG-VT: 50H - 9999</span>
                        </div>
                        <div class="col-item">
                            <span>07:00 - 25/11/19</span>
                            <span>SG-VT: 50H - 9999</span>
                        </div>
                    </div>
                    <div class="chart-chair">
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'" [displayCard]="'true'">
                                </chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayPerson]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item"></div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                        <div class="row-item">
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                            <div class="col-item">
                                <chair [bgColor]="'grey'" [displayGilf]="'true'" [displayWard]="'true'"
                                    [displayCircle]="'true'" [displayDollarHome]="'false'"
                                    [displayDollarBrand]="'true'"></chair>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="head-top">
                        Thông tin đặt vé
                    </div>
                    <div class="wrapper-form">
                        <form class="left">
                            <div class="form-group row">
                                <label for="fullName" class="col-sm-4 padding-right-0 col-form-label">Họ tên</label>
                                <div class="col-sm-8 padding-left-0">
                                    <input type="text" class="form-control border-brown-color no-border-radius"
                                        id="fullName" value="Nguyen Van A">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phoneNumber" class="col-sm-4 padding-right-0 col-form-label">Số đt:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <input type="text" class="form-control border-brown-color no-border-radius"
                                        id="phoneNumber">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="pickKupPosition" class="col-sm-4 padding-right-0 col-form-label">Điểm
                                    rước:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <input type="text" class="form-control border-brown-color no-border-radius"
                                        id="pickKupPosition">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="downPosition" class="col-sm-4 padding-right-0 col-form-label">Điểm
                                    trả:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <input type="text" class="form-control border-brown-color no-border-radius"
                                        id="downPosition">
                                </div>
                            </div>
                            <div class="form-group row">
                                <radiobox-style>
                                    <label class="container-radiobox margin-left-15 margin-right-10">
                                        <span class="name-radio">Mặc định</span>
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </radiobox-style>
                                <radiobox-style>
                                    <label class="container-radiobox margin-right-10">
                                        <span class="name-radio">Trạm TC</span>
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </radiobox-style>
                                <radiobox-style>
                                    <label class="container-radiobox">
                                        <span class="name-radio">Trung chuyển</span>
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </radiobox-style>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 padding-right-0 col-form-label">Khuyến mãi:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <dropdown-style [borderGreyColor]="'true'">
                                    <div class="wrapper-row-buttons">
                                        <div class="btn-group overwrite-drop-down" dropdown>
                                            <button id="button-basic" dropdownToggle type="button"
                                                class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                                SD12345 <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                aria-labelledby="button-basic">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                                                </li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else
                                                        here</a></li>
                                                <li class="divider dropdown-divider"></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm">Xác nhận</button>
                                    </div>
                                </dropdown-style>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="discount" class="col-sm-4 padding-right-0 col-form-label">Chiết
                                    khấu:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <div class="wrapper-box-percent">
                                        <input type="text" class="form-control no-border-radius" id="discount">
                                        <span class="box-percent">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 padding-right-0 col-form-label">Tiền vé:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <span class="label-text-input">800.000 VNĐ/4 vé</span>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 padding-right-0 col-form-label">Tiền phụ thu:</label>
                                <div class="col-sm-4 padding-right-0 padding-left-0">
                                    <div class="wrapper-box-percent">
                                        <input  type="text" class="form-control no-border-radius">
                                        <span class="box-percent">%</span>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-4 padding-left-5">
                                    <dropdown-style [noBorderRadius]="'true'" [borderGreyColor]="'true'">
                                        <div class="btn-group overwrite-drop-down" dropdown>
                                            <button id="button-basic" dropdownToggle type="button"
                                                class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                                Lý do <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                aria-labelledby="button-basic">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                                                </li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else
                                                        here</a></li>
                                                <li class="divider dropdown-divider"></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </dropdown-style>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 padding-right-0 col-form-label">Tiền giảm:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <input type="text" class="form-control no-border-radius" disabled>
                                </div>
                                
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-6 padding-right-1">
                                    <dropdown-style [noBorderRadius]="'true'" [borderGreyColor]="'true'">
                                        <div class="btn-group overwrite-drop-down" dropdown>
                                            <button id="button-basic" dropdownToggle type="button"
                                                class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                                Đại lý <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                aria-labelledby="button-basic">
                                                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
                                                </li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Something else
                                                        here</a></li>
                                                <li class="divider dropdown-divider"></li>
                                                <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </dropdown-style>


                                </div>
                                <div class="col-sm-6 padding-left-1">
                                    <input type="text" class="form-control no-border-radius" placeholder="Người giới thiệu">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 padding-right-0 col-form-label">Ghi chú:</label>
                                <div class="col-sm-8 padding-left-0">
                                    <textarea class="form-control no-border-radius border-brown-color" rows="4"></textarea>

                                </div>
                            </div>
                        </form>
                        <div class="right">
                            <div class="caution-important">
                                <span>Số tiền phải thu</span>
                                <div class="price">
                                    860.000 VNĐ
                                </div>
                            </div>
                            <div class="caution-important">
                                <span>Số tiền đang có</span>
                                <div class="price">
                                    860.000 VNĐ
                                </div>
                            </div>
                            <div class="table-edit">
                                <div class="head">
                                    <div class="text">SG-VT: 25/11 - 07:00</div>
                                    <button type="button" class="btn btn-delete">
                                        <img src="../../../../assets/images/icon-close.png" alt="icon">
                                    </button>
                                </div>
                                <div class="row-item">
                                    <div class="brand-chair">AS</div>
                                    <div class="price">20.000</div>
                                    <div class="groups-btn">
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-edit-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-delete-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-dollar-item.png" alt="icon">
                                        </button>
                                    </div>
                                </div>
                                <div class="row-item">
                                    <div class="brand-chair">AS</div>
                                    <div class="price">20.000</div>
                                    <div class="groups-btn">
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-edit-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-delete-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-dollar-item.png" alt="icon">
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="table-edit">
                                <div class="head">
                                    <div class="text">SG-VT: 25/11 - 07:00</div>
                                    <button type="button" class="btn btn-delete">
                                        <img src="../../../../assets/images/icon-close.png" alt="icon">
                                    </button>
                                </div>
                                <div class="row-item">
                                    <div class="brand-chair">AS</div>
                                    <div class="price"><span class="discount">18.000</span>20.000</div>
                                    <div class="groups-btn">
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-edit-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-delete-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-dollar-item.png" alt="icon">
                                        </button>
                                    </div>
                                </div>
                                <div class="row-item">
                                    <div class="brand-chair blue">AS</div>
                                    <div class="price blue">20.000</div>
                                    <div class="groups-btn">
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-edit-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-delete-item.png" alt="icon">
                                        </button>
                                        <button type="button" class="btn btn-edit-data">
                                            <img src="../../../../assets/images/icon-dollar-item.png" alt="icon">
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="button-group-bottom">
                        <button-style [colorName]="'red'">
                            <button type="button" class="btn">
                                <img src="../../../assets/images/icon-exist.png" alt="icon" class="icon-button">
                                <span>Thoát</span>
                            </button>
                        </button-style>
                        <div class="right-button">
                            <button-style [colorName]="'yellow'">
                                <button type="button" class="btn">
                                    <img src="../../../assets/images/icon-hold-place.png" alt="icon"
                                        class="icon-button">
                                    <span>Giữ chổ</span>
                                </button>
                            </button-style>

                            <button-style [colorName]="'green'">
                                <button type="button" class="btn">
                                    <img src="../../../assets/images/icon-check-circle.png" alt="icon"
                                        class="icon-button">
                                    <span>Đặt vé</span>
                                </button>
                            </button-style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
        class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="left-body">
                        <div class="col-item">
                            <div class="small-text">Số tiền đang có</div>
                            <div class="big-text">200.0000 VND</div>
                        </div>
                        <div class="col-item">
                            <div class="small-text">Số tiền phải thu</div>
                            <div class="big-text">200.0000 VND</div>
                        </div>
                    </div>
                    <div class="right-body">
                        <div class="title">title</div>
                        <div class="sub-title">Ban co muon</div>
                        <div class="row">
                            <div class="col-6">name</div>
                            <div class="col-6 text-right">adcs</div>
                            <div class="col-6">name</div>
                            <div class="col-6">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-6">

                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                        <div class="btn-accept">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        </div>
                        <div class="btn-refuse">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>