<div class="container overwrite-container">
    <div class="row row-wrapper-check-ticket">
        <div class="col-12">
            <div class="row top-filter">
                <div class="col-2">
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group overwrite-drop-down" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Chọn tuyến <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
                <div class="col-2">
                    <div class="btn-toogle">
                        <!-- <ui-switch checked labelOn="Đã lên xe" labelOff="Chưa lên xe"></ui-switch> -->
                      </div>
                </div>
            </div>
            <div class="row middle-totals">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
            <div class="row bottom-chair-info">
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
                <div class="col-4">
                    <chair-info></chair-info>
                </div>
            </div>

        </div>

    </div>
</div>