<div class="wrapper-view-chair">
    <div class="row-item">
        <div *ngFor="let item of chairs" class="col-item">
            <div *ngIf = "item.info.isAvailable"  class="box bg-green">
              {{item.chairIndex}}
            </div>
            <div *ngIf = "item.info.isBooked" class="box bg-brown">
              {{item.chairIndex}}
            </div>
            <div *ngIf = "item.info.isBlocked" class="box bg-grey">
              {{item.chairIndex}}
            </div>
        </div>
        
    </div>
</div>