@import '../../../style/variables.scss';
.wrapper-vehicle-tour {
    display: inline-block;
    width: 180px;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    .top {
        display: flex;
        position: relative;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        background-color: #ccc;
        padding: 0 10px;
        .left, .right {
            z-index: 10;
        }
        .progress-count {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 0;
            z-index: 1;          
        }
        &.bg-red {
            .progress-count {
                background-color: $red;
            }
            
        }
        &.bg-green {
            .progress-count {
                background-color: $green;
            }
            
        }
        &.bg-blue {
            .progress-count {
                background-color: $blue;
            }
           
        }
        &.bg-yellow {
            .progress-count {
                background-color: $yellow;
            }
            
        }
        &.bg-brown {
            .progress-count {
                background-color: $brown;
            }
            
        }
        &.bg-grey {
            .progress-count {
                background-color: $grey;
            }
            
        }
    }
    .bottom {
        display: flex;
        height: 30px;
        .col-item {
            flex: 1 1 25%;
            min-width: 25%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:first-child {
                justify-content: flex-start;
                padding-left: 10px;
                box-sizing: border-box;
                font-size: 14px;
            }
            &:last-child {
                justify-content: flex-end;
                padding-right: 10px;
                box-sizing: border-box;
            }
        }
    }
}