<div class="wrapper-vehicle-tour">
  <div [ngClass]="{'bg-blue': bgColor=='blue'  , 'bg-grey':bgColor=='grey', 'bg-white':bgColor=='white', 'bg-green':bgColor=='green', 'bg-red':bgColor=='red', 'bg-yellow':bgColor=='yellow' }" class="top">
    <div class="progress-count" [style.width.%]="80"></div>
    <div class="left">
      {{keyVehicle}}
    </div>
    <div class="right">
      {{time}}
    </div>
  </div>
  <div class="bottom">
    <div class="col-item number-count">{{numberBooked}}/{{numberChair}}</div>
    <div class="col-item">
        <img src="../../../assets/images/icon-XB.png" alt="icon"/>
    </div>
    <div class="col-item">
        <img src="../../../assets/images/icon-TC.png" alt="icon"/>
    </div>
    <div class="col-item">
        <img src="../../../assets/images/icon-block.png" alt="icon"/>
    </div>
  </div>
</div>