@import '../../../style/variables.scss';
.container-radiobox {
  display: block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .name-radio {
    font-size: 13px !important;
  }
}
.container-radiobox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 13px;
  width: 13px;
  border: 1px solid $brown;
  border-radius: 50%;
  box-sizing: border-box;
}
.container-radiobox input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid $blue;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-radiobox input:checked ~ .checkmark:after {
  display: block;
}
.container-radiobox .checkmark:after {
 	  top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $blue;
}