<header class="app-header">
  <div class="container overwrite-container">
    <div class="row align-items-center row-header">
      <div class="col-3 side-left">
        <a href="#" class="logo">
          <img src="../../../assets/images/logo.png" alt="logo"/>
        </a>
      </div>
      <div class="col-auto text-header">
        Lịch chạy: Thứ 3 ngày 25/11/2019 - Sài Gòn - Vũng Tàu
      </div>
      <div class="col-2 text-right user">
        <img src="../../../assets/images/icon-user.png" alt="logo"/>
      </div>
    </div>
  </div>
</header>
