
header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    height: 70px;
    .logo {
        img {
            width: 180px;
        }
    }
    .row-header {
        flex-wrap: nowrap;
        .text-header {
            flex: 1 1 100%;
        }
    }
    .user {
        img {
            width: 30px;
            cursor: pointer;
        }
    }
    .text-header {
        font-size: 18px;
    }
}