<div class="wrapper-page">
  <app-header></app-header>
  <div class="app-body">
    <!-- Main content -->
    <!-- <main class="main"> -->
    <router-outlet></router-outlet>
    <!-- <button-style [colorName]="'red'">
        <button type="button" class="btn">
          <img src="../../../assets/images/icon-exist.png" alt="icon" class="icon-button">
          <span>Thoát</span>
        </button>
      </button-style>
      <search-box>
        <input type="text" placeholder="Search" />
        <button type="button" class="btn">
          <img src="../../../assets/images/icon-search.png" alt="icon" class="icon-button">
        </button>
      </search-box>
      <chair [bgColor] = "'grey'" [displayGilf] = "'true'" [displayWard] = "'true'"  [displayCircle] = "'true'"  [displayDollarHome] = "'false'" [displayDollarBrand] = "'true'"></chair>
      <vehicle-tour></vehicle-tour>
      <chair-info></chair-info>
      <button type="button" class="btn btn-edit-data">
        <img src="../../../assets/images/icon-dollar-item.png" alt="icon">
      </button> -->
    <!-- <div class="container-fluid">
        <div class="animated fadeIn">
          <router-outlet></router-outlet>
          <router-outlet name="popup"></router-outlet>
        </div>
      </div> -->
    <!-- /.conainer-fluid -->
    <!-- </main> -->

   

  </div>
</div>