@import '../../../style/variables.scss';
.wrapper-search-box {
    display: flex;
    align-items: center;
    input {
        border: 1px solid $border-color;
        height: 36px;
        box-sizing: border-box;
        border-right: 0;
        padding: 0 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    button {
        background-color: $blue;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 55px;
        height: 36px;
    }
}