@import '../../../style/variables.scss';
.wrapper-button {
    button {
        padding: .375rem 2rem;
        display: flex;
        align-items: center;
        height: 40px;
        min-width: 150px;
        span {
            color: $white;
            text-transform: uppercase;
        }
        
    }
    .icon-button {
        margin-right: 7px;
        width: 15px;
    }
    &.red {
        button {
            background-color: $red;

        }
    }
    &.green {
        button {
            background-color: $green;

        }
    }
    &.yellow {
        button {
            background-color: $yellow;

        }
    }
    &.blue {
        button {
            background-color: $blue;

        }
    }
}