@import './variables';
@import './bs-datepicker';
body {
    color: $text-color;
}
html, body {
    height: 100%;
    font-size: 14px;
}
.wrapper-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
app-header {
    flex: 1 1 auto;
}
.app-body {
    flex: 1 1 100%;
    overflow-y: scroll;
}
.container.overwrite-container {
    max-width: 1500px;
    height: 100%;
}
.btn-edit-data {
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-right-10 {
    margin-right: 10px;
}
.padding-right-0 {
    padding-right: 0px !important;
}
.border-brown-color {
    border: 1px solid $brown;
}
.no-border-radius {
    border-radius: 0 !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-1 {
    padding-left: 1px !important;
}
.padding-right-1 {
    padding-right: 1px !important;
}
.padding-left-0 {
    padding-left: 0px !important;
}




