<div class="wrapper-chair">
  <div [ngClass]="{'box-square-blue': bgColor=='blue'  , 'box-square-grey':bgColor=='grey', 'box-square-white':bgColor=='white' }">
      a1
      <span class="sit"></span>
  </div>
  <img src="../../../assets/images/icon-ward.png" alt="icon" [ngClass]="displayWard == 'true' ? 'display icon-mark icon-ward icon-left-top': 'icon-mark icon-ward icon-left-top'"/>
  <img src="../../../assets/images/icon-person.png" alt="icon" [ngClass]="displayPerson == 'true' ? 'display icon-mark icon-person icon-left-top': 'icon-mark icon-person icon-left-top'"/>

  <img src="../../../assets/images/icon-momo.png" alt="icon" [ngClass]="displayMomo == 'true' ? 'display icon-mark icon-momo icon-right-top': 'icon-mark icon-momo icon-right-top'"/>
  <img src="../../../assets/images/icon-dollar-brand.png" alt="icon" [ngClass]="displayDollarBrand == 'true' ? 'display icon-mark icon-dollar-brand icon-right-top': 'icon-mark icon-dollar-brand icon-right-top'"/>
  <img src="../../../assets/images/icon-dollar-home.png" alt="icon" [ngClass]="displayDollarHome == 'true' ? 'display icon-mark icon-dollar-home icon-right-top': 'icon-mark icon-dollar-home icon-right-top'"/>
  <img src="../../../assets/images/icon-card.png" alt="icon" [ngClass]="displayCard == 'true' ? 'display icon-mark icon-card icon-right-top': 'icon-mark icon-card icon-right-top'"/>

  <img src="../../../assets/images/icon-gilf.png" alt="icon" [ngClass]="displayGilf == 'true' ? 'display icon-mark icon-gilf icon-mark icon-right-bottom': 'icon-mark icon-gilf icon-mark icon-right-bottom'"/>

  <img src="../../../assets/images/icon-circle.png" alt="icon" [ngClass]="displayCircle == 'true' ? 'display icon-mark icon-circle icon-mark icon-left-bottom': 'icon-mark icon-circle icon-mark icon-left-bottom'"/>
</div>