@import '../../../style/variables.scss';
.wrapper-chair {
   position: relative;
   position: relative;
    display: inline-block;
    padding: 10px;
   .box-square-blue{
    border: 1px solid #707070;
    border-radius: 8px;
    width: 80px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 24px;
    background-color: #02A4E6;
   }
   .box-square-grey{
    border: 1px solid #707070;
    border-radius: 4px;
    width: 60px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #DBDBDB;
    
   }
   img {
    width: 25px;
    &.icon-gilf {
        width: 16px;
    }
    &.icon-circle {
        width: 20px;
    }
    &.icon-momo {
        width: 18px;
    }
    }
   .sit {
    display: inline-block;
    width: 30px;
    height: 13px;
    border: 1px solid $border-color;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -15px;
}
   .icon-mark {
       display: none;
       position: absolute;
       z-index: 10;
       &.display {
           display: block;
       }
       &.icon-left-top {
            left: 0;
            top: 0;
       }
       &.icon-left-bottom {
           left: 0;
           bottom: 0;
           
        }
        &.icon-right-top {
            right: 0;
            top: 0;
            
        }
        &.icon-right-bottom {
            right: 0;
            bottom: 0;
        }
        &.icon-gilf {
            right: 3px;
            bottom: 10px;
        }
        &.icon-momo {
            right: 2px;
            top: 3px;
        }
        &.icon-circle {
            left: 0px;
            bottom: 5px;
        }
        &.icon-card {
            right: 1px;
            top: 10px;
            width: 20px;
        }
        &.icon-person {
            left: 2px;
            top: 1px;
            width: 18px;
        }
        &.icon-dollar-home , &.icon-dollar-brand {
            right: -5px;
            top: 3px;
        }
   }
}