<footer class="app-footer">
  <div><a href="https://beewalle.com">Beewalle</a><span>&copy; 2019 beewalle.com</span></div>
  <div class="ml-auto"><span>Powered by</span><a href="https://beewalle.com">Beewalle</a></div>
</footer>
