@import '../../../style/variables.scss';
.no-border-radius {
    button.btn {
        border-radius: 0 !important;
    }
}
.border-gey {
    button.btn {
        border-color: $grey !important;
     }
}
.overwrite-drop-down {
    width: 100%;
    ul.dropdown-menu {
        width: 100%;
    }
    .dropdown-toggle::after {
        border-top: .3em solid $black !important;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -1px;
    }
    button.btn {
        border: 1px solid #707070;
        background-color: transparent !important;
        color: #393939 !important;
        text-align: left;
    }
}