@import '../../../style/variables.scss';
.wrapper-chair-info {
    background: #F7F7F7;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    width: 460px;
    .top {
        border-bottom: 1px solid #DBDBDB;
        .item-top {
            align-items: center;
            justify-content: center;
            display: flex;
            box-sizing: border-box;
            height: 60px;
            &.brand {
                background-color: $blue;
                text-transform: uppercase;
                color: #fff;
                font-size: 26px;
            }
        }
        ui-switch {
            position: relative;
            width: 100%;
            >span.switch {
                width: 100%;
                height: 40px;
                small {
                    left: 6px !important;
                    top: 4px;
                }
                background-color: $grey !important;
                &.checked {
                    background-color: $green !important;
                    small {
                        left: auto !important;
                        right: 6px;
                    }
                }
                .switch-text {
                    width: 100%;
                    display: inline-block;
                    position: absolute;
                    height: 100%;
                    span.on {
                        width: 100%;
                        right: auto;
                        left: 0;
                        font-size: 16px;
                        top: 8px;
                        box-sizing: border-box;
                        text-align: left;
                        color: #fff;
                        padding-left: 10px;
                    }
                    span.off {
                        width: 100%;
                        right: 0px;
                        left: auto;
                        font-size: 16px;
                        top: 8px;
                        box-sizing: border-box;
                        text-align: right;
                        color: #000;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .middle {
        margin: 10px 0px 5px 0;
        .noted {
            color: #393939;
            font-style: italic;
            font-size: 14px;
        }
        .row {
            >div {
                margin-bottom: 5px;
            }
        }
        .text-id {
            color: #909090;
            margin-bottom: 0 !important;
        }
    }
    .bottom {
        display: flex;
        padding-bottom: 15px;
        .left {
            flex: 1 1 100%;
            display: flex;
            box-sizing: border-box;
            padding-left: 15px;
            .image-item {
                width: 48px;
                height: 48px;              
                border-radius: 50%;
                border: 1px solid #37C784;
                margin-right: 20px;
                box-sizing: border-box;               
                &.img-cirlce {
                    background: url('../../../assets/images/icon-circle.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 38px;
                    &.inactive {
                        border: 1px solid $grey;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 38px;
                    }
                }
                &.img-ward {
                    background: url('../../../assets/images/icon-ward.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 38px;
                    &.inactive {
                        border: 1px solid $grey;
                        background: url('../../../assets/images/icon-ward-inactive.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 38px;
                    }
                }
                &.img-dollar {
                    background: url('../../../assets/images/icon-dollar.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 36px;
                    &.inactive {
                        border: 1px solid $grey;
                        background: url('../../../assets/images/icon-dollar-inactive.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 36px;
                    }
                }
                &.img-gilf {
                    background: url('../../../assets/images/icon-gilf.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 26px;
                    &.inactive {
                        border: 1px solid $grey;
                        background: url('../../../assets/images/icon-gilf-inactive.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 26px;
                    }
                }
            }
        }
        .right {
            flex : 1 1 auto;
            padding-right: 15px;
            display: flex;
             align-items: center;
            button {
                width: 96px;
                height: 40px;
                font-size: 16px;
                color: #fff;
                box-sizing: border-box;
                background-color: $blue;
                border: none;
            }
        }
    }
}