<div class="wrapper-chair-info">
  <div class="top container">
    <div class="row">
      <div class="col-6 item-top brand">a1</div>
      <div class="col-6 item-top btn-toogle">
        <ui-switch checked labelOn="Đã lên xe" labelOff="Chưa lên xe"></ui-switch>
      </div>
    </div>
  </div>
  <div class="middle container">
    <div class="row">
      <div class="col-6">Nguyễn Văn Anh</div>
      <div class="col-6 text-right">Số lượng ghế: 2</div>
      <div class="col-6">0909 99 99 99</div>
      <div class="col-6 text-right">Đã thu: 150.000 VNĐ</div>
      <div class="col-12">Đón: BXMĐ</div>
      <div class="col-12">Trả: Vũng Tàu</div>
      <div class="col-12 noted">Ghi chú: Khách mua 2 vé chung</div>
      <div class="col-12 text-right text-id">ID: 12344</div>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <div class="image-item img-cirlce">
      </div>
      <div class="image-item img-ward">
      </div>
      <div class="image-item img-dollar">
      </div>
      <div class="image-item img-gilf">
      </div>
    </div>
    <div class="right">
      <button type="button" class="btn btn-primary btn-sm">Xem</button>

    </div>
  </div>
</div>